@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
.loggin{
    margin: 0;
    padding: 0;
    background-image: url('../../Assets/bg.png');
}
.log_area{
    padding: 50px 0;
}
.log_title{
    text-transform: uppercase;
    font-weight: 800;
    font-size: 50px;
    color: #403C39;
}
.log_title > span{
    color: #0E6799;
}
.log_area > p{
    font-size: 18px;
}
.form-area{
    width: 400px;
    height: auto;
}
.form-group{
    margin: 20px 0;
}
.form-group > label{
    font-weight: 600;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
  border-color: #0E6799;
  box-shadow: none;
  outline: 0 none;
}
.form-control{
    font-family: 'Poppins', sans-serif !important;
}
.form-control.red{
    border-color: rgb(255, 0, 0);
}
.login-btn{
    padding: 5px 25px;
    border: solid 1px #0E6799;
    background-color: #0E6799;
    border-radius: 10px;
    color: #fff;
    font-weight: 600;
    transition: all 0.2s ease-in-out;
}

.signin{
    padding: 20px 0;
    color: #403C39;
}
.video_layer{
    height:100vh; 
    display: grid;
    width: 100%;
    background-color: transparent;
    overflow: hidden;
}
.video_layer > svg{
    height: 100%;
    max-width: 100%;
    object-fit: fill;
}
.bg-study{
    height: 280px;
    width: 350px;
    position: absolute;
    left:20px;
    bottom: 0;
}
.logo_area{
    width: 180px;
    height: 150px;
    background-color: transparent;
    overflow: hidden;
}
.logo_area > img{
    max-width: 100%;
}
@media screen and (max-width:600px) {
    .vid{
        display: none;
    }
}
@media screen and (max-width:991px){
    .vid{
        display: none;
    }
}